/* materialize workarounds */
.input-field label {
  /* labels of inputs should have a nice "slide up" effect when
  an input element gets active - unfortunately this is sometimes buggy
  and labels override the input values making them unreadable.
  therefore ".input-field label" gets adapted to be always on top of the input*/
  font-size: 0.8rem;
  -webkit-transform: translateY(-140%);
  -moz-transform: translateY(-140%);
  -ms-transform: translateY(-140%);
  -o-transform: translateY(-140%);
  transform: translateY(-140%);
}

/* materialize adaptions */
.material-icons {
  vertical-align: middle;
}

.switch label input[type="checkbox"]:checked + .lever {
  background-color: #fccf67;
}

.switch label input[type="checkbox"]:checked + .lever::after {
  background-color: #fcaf17;
}

/* geolocation icons size classes */
.wi-2x {
  font-size: 2rem;
}

.wi-3x {
  font-size: 3rem;
}

.wi-4x {
  font-size: 4rem;
}

.wi-5x {
  font-size: 5rem;
}

/* leaflet marker divs */
.amv-geolocation .leaflet-div-icon {
  background: transparent;
  border: none;
}


.amv-geolocation footer.page-footer {
  background-color: #fcaf17;
}
