<footer class="page-footer bgcolor-brand">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">amv Geolocation</h5>
        <ul>
          <li><a class="white-text" data-ui-sref="about">About</a></li>
          <li><a class="white-text" href="https://www.amv-networks.com/en/data-protection/">Privacy</a></li>
          <li><a class="white-text" href="https://www.amv-networks.com/en/imprint/">Impress</a></li>
          <li><a class="white-text" href="https://www.amv-networks.com/en/gtc/">Terms and Conditions</a></li>
        </ul>
      </div>

      <div class="col l6 s12">
        <!--h5 class="white-text">Company Bio</h5-->

        <p class="grey-text text-lighten-4"></p>

      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      <p class="left">
        made with <i class="material-icons tiny">favorite</i> by <a class="brown-text" href="https://www.amv-networks.com">amv</a>
      </p>
    </div>
  </div>
</footer>
