<div class="progress amber" style="margin: 0;" data-ng-show="loading">
  <div class="indeterminate amber lighten-4"></div>
</div>

<div class="row" style="margin-bottom: 0;">
  <div class="col s6 m4 l3" style="padding: 0;">
    <div style="height: 600px; overflow-y: scroll; overflow-x: hidden;">
      <form class="">
        <div class="input-field col s12">
          <input placeholder="" id="filterInput" type="text"
                 data-ng-model="filterInput">
          <label for="filterInput">Filter</label>
        </div>
      </form>
      <div class="collection">
        <div class="collection-item"
             data-ng-repeat="geolocation in locations | filter:filterInput">


          <span class="badge">{{$index + 1}}</span>

          <header>
            <h5>{{ geolocation.name }}</h5>
          </header>

          <div class="left">
            <ul style="margin: 0">
              <li>
                <i class="material-icons tiny">room</i>
                <small data-ng-show="geolocation.location.lat && geolocation.location.lng">
                  lat/lng: {{ geolocation.location.lat }} / {{ geolocation.location.lng }}
                </small>
                <small data-ng-hide="geolocation.location.lat && geolocation.location.lng">
                  lat/lng: No location data available.
                </small>
              </li>
              <li>
                <i class="material-icons tiny">av_timer</i>
                <small>
                  speed: {{ geolocation.data.speed || 0 }} km/h
                </small>
              </li>
            </ul>
          </div>

          <div class="right">
            <a class="btn-floating waves-effect waves-light amber"
               data-ng-click="zoomToLocation(geolocation)"
               data-materialize-tooltipped data-delay="50" data-tooltip="zoom to location">
              <i class="material-icons">my_location</i>
            </a>
            <a class="btn-floating waves-effect waves-light amber"
               data-materialize-modal-activator data-target="modal-geolocation-{{geolocation.name}}"
               data-materialize-tooltipped data-delay="50" data-tooltip="view additional information">
              <i class="material-icons">perm_device_information</i>
            </a>

            <div data-materialize-modal data-id="modal-geolocation-{{geolocation.name}}"
                 data-header-text="{{geolocation.name}}">
              <div>
                <i class="material-icons tiny">room</i> lat/lng: {{geolocation.location.lat}} / {{
                geolocation.location.lng }}

                <br/>
                <i class="material-icons tiny">av_timer</i> speed: {{ (geolocation.data.speed || 0) }} km/h

                <br/>
                <br/>

                <i class="material-icons tiny">router</i> Data Provider: {{ geolocation.provider }}
                <br/><i class="material-icons tiny">query_builder</i> Request Time: {{ geolocation.requestTime }}

                <br/>
                <i class="material-icons tiny">query_builder</i> Position Time: {{ geolocation.data.timestamp }}

              </div>

              <ul>
                <li data-ng-repeat="xfcd in geolocation.data.xfcds">
                  <div>
                    <i class="material-icons tiny">label</i>
                    {{ xfcd.param }}: <span>{{ xfcd.value }}</span>
                  </div>
                </li>
              </ul>
              <ul>
                <li data-ng-repeat="state in geolocation.data.states">
                  <div>
                    <i class="material-icons tiny">label</i>
                    {{ state.param }}: <span>{{ state.value }}</span>
                  </div>
                </li>
              </ul>
            </div>

          </div>
          <div style="float:none; clear:both;"></div>

          <div data-ng-if="main.settings.debug">
            {{ geolocation.data | json }}
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="col s6 m8 l9" style="padding: 0;">
    <leaflet id="mymap"
             defaults="main.map.defaults"
             center="main.map.center"
             markers="main.map.markers"
             tiles="main.map.tiles"
             height="600px">
    </leaflet>
  </div>
</div>
